<nz-modal [(nzVisible)]="this.visible" [nzContent]="modalContent" [nzFooter]="null" [nzClassName]="'modal'"
    (nzOnCancel)="handleCancel()" [nzClosable]="false">
    <ng-template #modalContent class="modal">
        <div class="modal-container">
            <div class="form-modal">
                <div class="top">
                    <h1 class="form-heading">Add New Product</h1>
                    <div class="close" (click)="this.handleCancel()">
                        <span>&times;</span>
                    </div>
                </div>
                <div class="form-box full-width sub-form form1">
                    <p class="form-subheading">Fill the form to create a new product.</p>
                    <app-error-message [message]="this.errorMessage"></app-error-message>
                    <div class="full-width input-box">
                        <label>Product Name</label>
                        <input type="text" placeholder="product name" autofocus [(ngModel)]="this.name">
                    </div>

                    <div class="half-width input-box">
                        <label>Quantity</label>
                        <input type="text" placeholder="quantity" [(ngModel)]="this.quantity">
                    </div>

                    <div class="half-width input-box">
                        <label>Measurement Unit</label>
                        <input type="text" placeholder="measurement unit" [(ngModel)]="this.unit">
                    </div>

                    <div class="full-width input-box">
                        <label>Description</label>
                        <textarea type="text" placeholder="description" autofocus
                            [(ngModel)]="this.description"></textarea>
                    </div>

                    <button (click)="submit()" class="btn-primary full-width" style="margin-top:25px"
                        [ladda]="processLoading">
                        Add Product
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
</nz-modal>