<footer class="footer">

  <div class="top">
    <div class="col">
      <h4>Follow Us</h4>
      <div class="socials">
        <span routerLink=""><img src="assets/images/twitter.svg" alt=""></span>
        <span routerLink=""><img src="assets/images/email.svg" alt=""></span>
        <span routerLink=""><img src="assets/images/instagram.svg" alt=""></span>
      </div>

    </div>
    <div class="col">
      <h4>Pages</h4>
      <span routerLink="">Login</span>
      <span routerLink="">Home</span>
      <span routerLink="">Team</span>
      <span routerLink="">About</span>
      <span routerLink="">Contact</span>
    </div>
    <div class="col">
      <h4>Legal</h4>
      <span routerLink="">Terms</span>
      <span routerLink="">Privacy</span>
    </div>
    <div class="col">
      <h4>Company</h4>
      <span routerLink="">About</span>
      <span routerLink="">Teams</span>
    </div>
    <div class="col">
      <h4>Hospitals</h4>
      <span routerLink="">Rivers</span>
      <span routerLink="">Drive</span>
      <span routerLink="">Gilto Aris</span>
      <span routerLink="">Garkuwa</span>
    </div>
  </div>
  <div class="bottom">
    <div class="left">
      <img src="assets/images/healme.svg" alt="">
    </div>
    <div class="right">
      <div>Copyright © 2023 HealRoot | Created by RedBeryl</div>
    </div>
  </div>
</footer>
