<div class="main-body-content dashboard account-tab accounts">

    <div class="full-width sub-form ng-star-inserted head mt-4" style="align-items: center;">
        <div class="left">
            <!-- <div class="select-container">
                        <select class="ng-pristine ng-valid ng-touched">
                            <option selected>All Sales</option>
                            <option>Pulmologist</option>
                            <option>Pediatricians</option>
                        </select>
                    </div> -->
            <div class="top-heading">
                <p class="list-result">
                    Showing <strong>{{record.length}} </strong> {{ record.length > 1 ? 'Records': 'Records'}}
                </p>
            </div>
        </div>
        <div class="right">
            <div class="password-container">
                <input type="text" placeholder="Search" [(ngModel)]="searchTerm" (blur)="search()" />
                <img src="assets/images/search.svg" alt="">
            </div>
            <button *ngIf="userRole == 'PROCUREMENT_RAW' || userRole == 'PROCUREMENT_FINISHED'"
                (click)="toggleAddModal()" class="btn-primary">
                + Add Record
            </button>
        </div>
    </div>
    <div class="full-width sub-form ng-star-inserted head mt-4" style="align-items: center;">
        <ng-container *ngIf="fetchingRecords">
            <table class="data-table mt-4">
                <thead>
                    <tr>
                        <th>Product Type</th>
                        <th nzWidth="21%">Description</th>
                        <th nzWidth="21%">Total Quantity</th>
                        <th nzWidth="20%">Total Amount</th>
                        <th nzWidth="10%">Reference</th>
                        <th nzWidth="10%">Trnx Type</th>
                        <th nzWidth="10%">Date Created</th>
                        <th nzWidth="10%">Added By</th>
                        <th nzWidth="10%">Accepted By</th>
                        <th nzWidth="10%">Approved By</th>
                        <th nzWidth="10%">View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of [1,2,3]">
                        <td *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11]">
                            <ngx-skeleton-loader style="width: 100%;"
                                [theme]="{'width':'100%','height':'20px','border-radius':'7px'}" appearance="line">
                            </ngx-skeleton-loader>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <ng-container *ngIf="!fetchingRecords">

            <div class="table-responsive">
                <table class="table data-table mt-4">
                    <thead>
                        <tr>
                            <th>Product Type</th>
                            <th nzWidth="21%">Description</th>
                            <th nzWidth="21%">Total Quantity</th>
                            <th nzWidth="20%">Total Amount</th>
                            <th nzWidth="10%">Reference</th>
                            <th nzWidth="10%">Trnx Type</th>
                            <th nzWidth="10%">Date Created</th>
                            <th nzWidth="10%">Added By</th>
                            <th nzWidth="10%">Accepted By</th>
                            <th nzWidth="10%">Approved By</th>
                            <th nzWidth="10%">View</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="record.length > 0">
                        <tr class="hoverable" *ngFor="let item of record">
                            <td>{{item.product_type}}</td>
                            <td>{{item?.description}}</td>
                            <td>{{item?.total_quantity}}</td>
                            <td>{{item?.total_amount}}</td>
                            <td>{{item?.reference}}</td>
                            <td>{{item?.type}}</td>
                            <td>{{item?.created_at | date: 'medium'}}</td>
                            <td>{{(item?.created_by?.firstname ?? "") + ' ' + (item?.created_by?.lastname ??
                                "")}}
                            </td>
                            <td>
                                {{(item?.accepted_by?.firstname ?? "") + ' ' + (item?.accepted_by?.lastname
                                ??
                                "")}}
                            </td>
                            <td>
                                {{(item?.approved_by?.firstname ?? "") + ' ' + (item?.approved_by?.lastname
                                ??
                                "")}}
                            </td>
                            <td>
                                <span (click)="showTransaction(item)"><img src="assets/images/eye.svg" alt=""></span>
                            </td>
                        </tr>
                    </tbody>
                    <!-- <tbody *ngIf="active.length === 0" style="border:none">
                                                        <tr>
                                                            <td colspan="7">
                                                                <app-no-result class="full-width" title="No data found"
                                                                    description="You currently don't have any sale.">
                                                                </app-no-result>
                                                            </td>
                                                        </tr>
                                                    </tbody> -->
                </table>
                <ng-container *ngIf="record.length === 0" style="border:none">
                    <div>
                        <!-- <td colspan="6"> -->
                        <app-no-result class="full-width" title="No data found"
                            description="You currently don't have any procurement data.">
                        </app-no-result>
                        <!-- </td> -->
                    </div>
                </ng-container>
            </div>

            <div *ngIf="record.length > 0" class="pagination">
                <app-pagination class="pagination" *ngIf="!this.fetchingRecords && this.totalRecords > 0"
                    [totalItems]="this.totalRecords" [(pageSize)]="this.recordLimit" [(currentPage)]="this.recordPage"
                    (pageSizeChange)="this.refreshList()"
                    (currentPageChange)="this.getProcurementTransaction()"></app-pagination>
            </div>
        </ng-container>
    </div>

</div>

<app-add-procurement [visible]="this.showAddModal" (created)="onCreated()"
    (visibleChange)="this.toggleAddModal()"></app-add-procurement>

<app-transaction-details [(visible)]="this.viewTransactionModal" title="procurement"
    [transaction]="this.selectedTransaction" (visibleChange)="toggleTransactionModal()">
</app-transaction-details>