<nz-modal [(nzVisible)]="this.visible" [nzContent]="modalContent" [nzFooter]="null" [nzClassName]="'modal'"
    (nzOnCancel)="handleCancel()" [nzClosable]="false">
    <ng-template #modalContent class="modal">
        <div class="modal-container">
            <div class="form-modal">
                <div class="top">
                    <h1 class="form-heading">Add New Customer</h1>
                    <div class="close" (click)="this.handleCancel()">
                        <span>&times;</span>
                    </div>
                </div>
                <div class="form-box full-width">
                    <p class="form-subheading">Fill the form to create a new user.</p>
                    <app-error-message [message]="this.errorMessage"></app-error-message>
                    <div class="sub-form form1">
                        <div class="half-width input-box">
                            <label>First Name</label>
                            <input type="text" placeholder="first name" autofocus [(ngModel)]="this.firstName">
                        </div>
                        <div class="half-width input-box">
                            <label>Last Name</label>
                            <input type="text" placeholder="last name" autofocus [(ngModel)]="this.lastName">
                        </div>

                        <div class="half-width input-box">
                            <label>Other Name</label>
                            <input type="text" placeholder="Othername (optional)" autofocus
                                [(ngModel)]="this.otherName">
                        </div>
                        <div class="half-width input-box">
                            <label>Phone</label>
                            <input type="tel" placeholder="+234 806624****" autofocus [(ngModel)]="this.phone">
                        </div>
                        <div class="full-width input-box">
                            <label>Email</label>
                            <input type="email" placeholder="user@tsb.com" autofocus [(ngModel)]="this.email">
                        </div>
                        <div class="full-width input-box">
                            <label>Type</label>
                            <div class="select-container full-width">
                                <select class="full-width" [(ngModel)]="this.type">
                                    <option value="">Choose Customer Type</option>
                                    <option value="Loyal">Loyal Customer</option>
                                    <option value="other">Other Customer</option>
                                </select>
                            </div>
                        </div>
                        <div class="full-width input-box">
                            <label>Address</label>
                            <textarea type="text" placeholder="address" autofocus [(ngModel)]="this.address"></textarea>
                        </div>
                        <!-- <div class="full-width input-box">
                            <label>Permissions</label>
                            <div class="check-cont">
                                <div>
                                    <input type="checkbox" [(ngModel)]="this.isSelectAll"
                                        (ngModelChange)="permissionCheckAll(this.permissions)">
                                    SELECT ALL PERMISSIONS
                                </div>

                                <div class="permission" *ngFor="let item of this.permissions">
                                    <input type="checkbox" value="{{item.id}}" [(ngModel)]="item.isSelected">
                                    {{item.name | uppercase}}
                                </div>
                            </div>
                        </div> -->
                    </div>

                    <button (click)="createUser()" class="btn-primary full-width" style="margin-top:25px"
                        [ladda]="processLoading">
                        Add Customer
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
</nz-modal>