<div class="form-body">
    <div class="form-box">
        <div class="form-content" *ngIf="!this.successMessage">
            <!-- <div class="form-container" > -->
            <h1 class="form-heading">Reset Password</h1>
            <p class="form-subheading">Enter your email address to receive a password reset link.</p>
            <app-error-message [message]="this.errorMessage"></app-error-message>
            <div class="full-width form-content">
                <div class="sub-form full-width">
                    <div class="input-box full-width">
                        <label>Work Email Address</label>
                        <input type="email" autofocus autocomplete="email" placeholder="user@gmail.com"
                            [(ngModel)]="this.user.emailAddress" (keyup.enter)="this.sendReset()">
                    </div>
                </div>
            </div>

            <button class="btn-primary full-width" [ladda]="processLoading" (click)="this.sendReset()">Send Reset
                Link</button>
            <p class="details-2">Remember your password? <a [routerLink]="['/']">Login →</a>
            </p>
            <!-- </div> -->

        </div>

        <!--  Password reset successfully -->
        <div class="form-content" *ngIf="this.successMessage">
            <div class="message">
                <div class="status-icon"><img src="assets/images/mail.svg" /></div>
                <p class="message-heading">Password reset link sent successfully.</p>
                <p class="message-subheading">A password reset link has been sent to your email. Open your mail and
                    click on the
                    link to reset your password.</p>
                <button class="btn-primary" [routerLink]="['/signin']">
                    Proceed to Login
                    <div class="icon"><img src="assets/images/arrow-right-white.svg" /></div>
                </button>
            </div>
        </div>
    </div>
</div>