@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/avenir_ff/Avenir-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/avenir_ff/Avenir-LightOblique.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/avenir_ff/Avenir-Book.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/avenir_ff/Avenir-BookOblique.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/avenir_ff/Avenir-Roman.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/avenir_ff/Avenir-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/avenir_ff/Avenir-MediumOblique.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/avenir_ff/Avenir-Heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/avenir_ff/Avenir-HeavyOblique.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/avenir_ff/Avenir-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/avenir_ff/Avenir-BlackOblique.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}