:root {
    // New colors
    // --btn-hover-color-1: #32C156;
    --btn-hover-color-1: #53ce72;
    --btn-hover-color-2: #f8f8ff;
    --text-color-1: #374151;
    --text-color-2: #6b7280;
    --text-color-3: #4b5563;
    --text-color-4: #9fa6b2;

    // Tint colors
    @function tint($color, $percentage) {
        @return mix(white, $color, $percentage);
    }

    // Shade colors
    @function shade($color, $percentage) {
        @return mix(black, $color, $percentage);
    }

    // Variables for the main colors used on the site
    // --primary-color: #32C156;
    --primary-color: #32C156;
    --disabled-primary-color: #7BC6D1;
    --disabled-primary-color2: rgba(22, 30, 46, 0.1);
    --disabled-primary-color3: rgba(22, 30, 46, 0.9);
    --secondary-color: #f9fafb;
    --input-background-color1: #f4f5f7;
    --input-background-color2: #f8f8f8;
    --box-shadow1: 0px 0px 20px rgba(0, 0, 0, 0.1);
    --box-shadow1-hover: 0px 0px 25px rgba(0, 0, 0, 0.12);
}