<div class="main-body-content dashboard account-tab accounts">
    <nz-tabset [nzSelectedIndex]="this.selectedIndex">

        <nz-tab>
            <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'production' }"
                queryParamsHandling="merge">Production Records</a>
            <div class="full-width sub-form ng-star-inserted head mt-4" style="align-items: center;">
                <div class="left">
                    <div class="select-container">
                        <select class="ng-pristine ng-valid ng-touched">
                            <option selected>All Production</option>
                            <!-- <option>Pulmologist</option>
                            <option>Pediatricians</option> -->
                        </select>
                    </div>
                </div>
                <div class="right">
                    <div class="password-container">
                        <input type="text" placeholder="Search" [(ngModel)]="searchTermReport" (blur)="search()" />
                        <img src="assets/images/search.svg" alt="">
                    </div>
                    <button (click)="toggleAddModal('production')" class="btn-primary">
                        + Add Record
                    </button>

                </div>
            </div>
            <div class="full-width sub-form ng-star-inserted head mt-4" style="align-items: center;">
                <ng-container *ngIf="fetchingProduction">
                    <table class="data-table mt-4">
                        <thead>
                            <tr>
                                <th>Product Type</th>
                                <th nzWidth="21%">Description</th>
                                <th nzWidth="10%">Reference</th>
                                <th nzWidth="10%">Total Price</th>
                                <th nzWidth="10%">Type</th>
                                <th nzWidth="10%">Sub Type</th>
                                <th nzWidth="10%">Status</th>
                                <th nzWidth="10%">Date Added</th>
                                <th nzWidth="10%">Added By</th>
                                <th nzWidth="10%">Accepted By</th>
                                <th nzWidth="10%">Approved By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of [1,2,3]">
                                <td *ngFor="let item of [1,2,3,4,5,6,1,2,3,4,5]">
                                    <ngx-skeleton-loader style="width: 100%;"
                                        [theme]="{'width':'100%','height':'20px','border-radius':'7px'}"
                                        appearance="line">
                                    </ngx-skeleton-loader>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
                <ng-container *ngIf="!fetchingProduction">
                    <div class="top-heading">
                        <p class="list-result">
                            Showing
                            <span>{{productionStart +' - '+ productionStop}}</span> of
                            <span>{{totalProduction}}</span>
                            {{ totalProduction > 1 ? 'Records': 'Records'}}
                        </p>
                    </div>
                    <div class="table-responsive">
                        <table class="data-table mt-4">
                            <thead>
                                <tr>
                                    <th>Product Type</th>
                                    <th nzWidth="21%">Description</th>
                                    <th nzWidth="10%">Reference</th>
                                    <th nzWidth="10%">Total Price</th>
                                    <th nzWidth="10%">Type</th>
                                    <th nzWidth="10%">Sub Type</th>
                                    <th nzWidth="10%">Status</th>
                                    <th nzWidth="10%">Date Added</th>
                                    <th nzWidth="10%">Added By</th>
                                    <th nzWidth="10%">Accepted By</th>
                                    <th nzWidth="10%">Approved By</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="production.length > 0">
                                <tr class="hoverable" *ngFor="let item of production">
                                    <td>{{item.product_type}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.reference}}</td>
                                    <td>{{item.total_amount}}</td>
                                    <td>{{item.type}}</td>
                                    <td>{{item.subtype}}</td>
                                    <td>{{item.status}}</td>
                                    <td>{{item.created_at | date: 'medium'}}</td>
                                    <td>{{item?.created_by}}</td>
                                    <td>{{item?.accepted_by}}</td>
                                    <td>{{item?.approved_by}}</td>
                                </tr>
                            </tbody>
                            <!-- <tbody *ngIf="production.length === 0" style="border:none">
                                <tr>
                                    <td colspan="12">
                                        <app-no-result class="full-width" title="No data found"
                                            description="You currently don't have any data.">
                                        </app-no-result>
                                    </td>
                                </tr>
                            </tbody> -->
                        </table>
                        <ng-container *ngIf="production.length === 0" style="border:none">
                            <div>
                                <app-no-result class="full-width" title="No data found"
                                    description="You currently don't have any data.">
                                </app-no-result>
                            </div>
                        </ng-container>
                    </div>

                    <div *ngIf="production.length > 0" class="pagination">
                        <app-pagination class="pagination" *ngIf="!this.fetchingProduction && this.totalProduction > 0"
                            [totalItems]="this.totalProduction" [(pageSize)]="this.productionLimit"
                            [(currentPage)]="this.productionPage" (pageSizeChange)="this.refreshList()"
                            (currentPageChange)="getTransactions()"></app-pagination>
                    </div>
                </ng-container>
            </div>
        </nz-tab>

        <nz-tab>
            <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'raw' }"
                queryParamsHandling="merge">Raw Materials Records</a>

            <div class="full-width sub-form ng-star-inserted head mt-4" style="align-items: center;">
                <div class="left">
                    <div class="select-container">
                        <select class="ng-pristine ng-valid ng-touched">
                            <option selected>All Data</option>
                            <!-- <option>Pulmologist</option>
                                    <option>Pediatricians</option> -->
                        </select>
                    </div>
                </div>
                <div class="right">
                    <div class="password-container">
                        <input type="text" placeholder="Search" [(ngModel)]="searchTerm" (blur)="search()" />
                        <img src="assets/images/search.svg" alt="">
                    </div>
                    <button class="btn-primary" (click)="toggleAddModal('raw')">
                        + Add Record
                    </button>
                </div>
            </div>
            <div class="full-width sub-form ng-star-inserted head mt-4" style="align-items: center;">
                <ng-container *ngIf="fetchingReport">
                    <table class="data-table mt-4">
                        <thead>
                            <tr>
                                <th>Product Type</th>
                                <th nzWidth="21%">Description</th>
                                <th nzWidth="10%">Reference</th>
                                <th nzWidth="10%">Total Price</th>
                                <th nzWidth="10%">Type</th>
                                <th nzWidth="10%">Sub Type</th>
                                <th nzWidth="10%">Status</th>
                                <th nzWidth="10%">Date Added</th>
                                <th nzWidth="10%">Added By</th>
                                <th nzWidth="10%">Accepted By</th>
                                <th nzWidth="10%">Approved By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of [1,2,3]">
                                <td *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11]">
                                    <ngx-skeleton-loader style="width: 100%;"
                                        [theme]="{'width':'100%','height':'20px','border-radius':'7px'}"
                                        appearance="line">
                                    </ngx-skeleton-loader>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
                <ng-container *ngIf="!fetchingReport">
                    <div class="top-heading">
                        <p class="list-result">
                            Showing <span>{{reports.length}}</span>
                            {{ reports.length > 1 ? 'Records': 'Record'}}
                        </p>
                    </div>
                    <div class="table-responsive">
                        <table class="table data-table mt-4">
                            <thead>
                                <tr>
                                    <th>Product Type</th>
                                    <th nzWidth="21%">Description</th>
                                    <th nzWidth="10%">Reference</th>
                                    <th nzWidth="10%">Total Price</th>
                                    <th nzWidth="10%">Type</th>
                                    <th nzWidth="10%">Sub Type</th>
                                    <th nzWidth="10%">Status</th>
                                    <th nzWidth="10%">Date Added</th>
                                    <th nzWidth="10%">Added By</th>
                                    <th nzWidth="10%">Accepted By</th>
                                    <th nzWidth="10%">Approved By</th>
                                </tr>
                            </thead>

                            <tbody *ngIf="reports.length > 0">
                                <tr class="hoverable" *ngFor="let item of reports">
                                    <td>{{item.product_type}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.reference}}</td>
                                    <td>{{item.total_amount}}</td>
                                    <td>{{item.type}}</td>
                                    <td>{{item.subtype}}</td>
                                    <td>{{item.status}}</td>
                                    <td>{{item.created_at | date: 'medium'}}</td>
                                    <td>{{item?.created_by}}</td>
                                    <td>{{item?.accepted_by}}</td>
                                    <td>{{item?.approved_by}}</td>
                                </tr>
                            </tbody>
                            <!-- <tbody *ngIf="active.length === 0" style="border:none">
                                        <tr>
                                            <td colspan="7">
                                                <app-no-result class="full-width" title="No data found"
                                                    description="You currently don't have any sale.">
                                                </app-no-result>
                                            </td>
                                        </tr>
                                    </tbody> -->
                        </table>
                        <ng-container *ngIf="reports.length === 0" style="border:none">
                            <div>
                                <!-- <td colspan="6"> -->
                                <app-no-result class="full-width" title="No data found"
                                    description="You currently don't have any data.">
                                </app-no-result>
                                <!-- </td> -->
                            </div>
                        </ng-container>
                    </div>

                    <div *ngIf="reports.length > 0" class="pagination">
                        <app-pagination class="pagination" *ngIf="!this.fetchingReport && this.totalReport > 0"
                            [totalItems]="this.totalReport" [(pageSize)]="this.reportLimit"
                            [(currentPage)]="this.reportPage" (pageSizeChange)="refresRawList()"
                            (currentPageChange)="this.getTransactions()"></app-pagination>
                    </div>
                </ng-container>
            </div>
        </nz-tab>

    </nz-tabset>

</div>

<app-add-production [visible]="this.showAddModal" [tab]="this.tab" (created)="onCreated($event)"
    (visibleChange)="toggleAddModal()"></app-add-production>