.error-message {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 5px 0;

    .error-icon {
        width: 20px;

        img {
            width: 100%;
        }
    }

    .note {
        color: #e02424;
        font-size: 14px;
        text-align: left;
        margin-left: 8px;
        font-weight: 400;
    }
}