<div class="main-body-content dashboard account-tab accounts">

    <!-- <div _ngcontent-hqb-c160="" class="full-width sub-form ng-star-inserted head mb-4"
        style="justify-content: flex-start; column-gap: 40px;">
        <div _ngcontent-hqb-c160="" class="onequarter-width">
            <div _ngcontent-hqb-c160="" class="cards">
                <div _ngcontent-hqb-c160="" class="digit">{{totalStaff}}</div>
                <div _ngcontent-hqb-c160="" class="description">Total Staff</div>
            </div>
        </div>
        <div _ngcontent-hqb-c160="" class="onequarter-width">
            <div _ngcontent-hqb-c160="" class="cards">
                <div _ngcontent-hqb-c160="" class="digit">{{totalStaff}}</div>
                <div _ngcontent-hqb-c160="" class="description">Active Staff</div>
            </div>
        </div>
        <div _ngcontent-hqb-c160="" class="onequarter-width">
            <div _ngcontent-hqb-c160="" class="cards">
                <div _ngcontent-hqb-c160="" class="digit">0</div>
                <div _ngcontent-hqb-c160="" class="description">Blocked Staff</div>
            </div>
        </div>
    </div> -->

    <div class="full-width sub-form ng-star-inserted head mt-4" style="align-items: center;">
        <div class="left">
            <div class="select-container">
                <select class="ng-pristine ng-valid ng-touched" (change)="filterStaff($event)">
                    <option value="" selected>All Staff</option>
                    <option *ngFor="let item of roles" value="{{item.name}}">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="right">
            <div class="password-container">
                <input type="text" placeholder="Search" [(ngModel)]="searchTerm" (input)="searchStaff()" />
                <img src="assets/images/search.svg" alt="">
            </div>
            <button (click)="toggleAddModal()" class="btn-primary">
                + Add Staff
            </button>
        </div>
    </div>
    <div class="full-width sub-form ng-star-inserted head mt-4" style="align-items: center;">
        <ng-container *ngIf="fetchingStaff">
            <table class="data-table mt-4">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th nzWidth="21%">Email</th>
                        <!-- <th nzWidth="20%">Phone</th> -->
                        <th nzWidth="10%">Role</th>
                        <th nzWidth="10%">Date Registered</th>
                        <th nzWidth="10%">Added By</th>
                        <th nzWidth="10%">Status</th>
                        <th nzWidth="10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of [1,2,3]">
                        <td *ngFor="let item of [1,2,3,4,5,6,7]">
                            <ngx-skeleton-loader style="width: 100%;"
                                [theme]="{'width':'100%','height':'20px','border-radius':'7px'}" appearance="line">
                            </ngx-skeleton-loader>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <ng-container *ngIf="!fetchingStaff">
            <div class="top-heading">
                <p class="list-result">
                    Showing
                    <span>{{staff.length}}</span> of
                    <span>{{totalStaff}}</span>
                    {{ totalStaff > 1 ? 'Staff': 'Staff'}}
                </p>
            </div>
            <div class="table-responsive">
                <table class="table data-table mt-4">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th nzWidth="21%">Email</th>
                            <!-- <th nzWidth="20%">Phone</th> -->
                            <th nzWidth="10%">Role</th>
                            <th nzWidth="10%">Date Registered</th>
                            <th nzWidth="10%">Added By</th>
                            <th nzWidth="10%">Status</th>
                            <th nzWidth="10%">Action</th>
                        </tr>
                    </thead>

                    <tbody *ngIf="staff.length > 0">
                        <tr class="hoverable" *ngFor="let item of staff">
                            <td>{{item?.firstname + ' ' + item?.lastname}}</td>
                            <td>{{item.email}}</td>
                            <!-- <td>{{item.phone}}</td> -->
                            <td><span class="roles" *ngFor="let val of item.roles">{{val.name}}</span></td>
                            <td>{{item.createdAt | date: 'medium'}}</td>
                            <td>{{(item?.createdBy?.firstname ?? " ") + ' ' + (item?.createdBy?.lastname ?? "")}}</td>
                            <td>{{item.status ? item.status : "active" | titlecase}}</td>
                            <td><button (click)="editStaff(item)" class="btn-primary-outline2"><img
                                        src="assets/images/edit-icon.svg" alt=""></button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="staff.length === 0" style="border:none">
                        <tr>
                            <td colspan="9">
                                <app-no-result class="full-width" title="No data found"
                                    description="You currently don't have any active staff.">
                                </app-no-result>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="staff.length > 0" class="pagination mt-4">
                <app-pagination class="pagination" *ngIf="!this.fetchingStaff && this.totalStaff > 0"
                    [totalItems]="this.totalStaff" [(pageSize)]="this.staffLimit" [(currentPage)]="this.staffPage"
                    (pageSizeChange)="this.refreshStaffList()" (currentPageChange)="this.getStaff()"></app-pagination>
            </div>
        </ng-container>
    </div>
</div>

<app-add-user [visible]="this.showAddModal" (createdUser)="onCreatedStaff()"
    (visibleChange)="this.toggleAddModal()"></app-add-user>

<app-edit-user [visible]="this.showEditModal" [user]="this.selectedStaff" (updatedUser)="onUpdatedStaff()"
    (visibleChange)="this.toggleEditModal()"></app-edit-user>