<nz-modal [(nzVisible)]="this.visible" [nzContent]="modalContent" [nzFooter]="null" [nzClassName]="'modal'"
    (nzOnCancel)="handleCancel()" [nzClosable]="false">
    <ng-template #modalContent class="modal">
        <div class="modal-container">
            <div class="form-modal">
                <div class="top">
                    <h1 class="form-heading">Update Staff Information</h1>
                    <div class="close" (click)="this.handleCancel()">
                        <span>&times;</span>
                    </div>
                </div>
                <div class="form-box full-width">
                    <p class="form-subheading">Fill the form to update user.</p>
                    <app-error-message [message]="this.errorMessage"></app-error-message>
                    <div class="sub-form form1">
                        <div class="half-width"></div>
                        <div class="half-width">
                            <button (click)="resetPassword()" class="btn-primary-outline-small full-width"
                                style="margin:25px 0" [ladda]="processReset">
                                Send reset password
                            </button>
                        </div>
                        <div class="half-width input-box">
                            <label>First Name</label>
                            <input disabled type="text" placeholder="first name" [(ngModel)]="this.user.firstname">
                        </div>
                        <div class="half-width input-box">
                            <label>Last Name</label>
                            <input disabled type="text" placeholder="last name" [(ngModel)]="this.user.lastname">
                        </div>
                        <!-- <div class="half-width input-box">
                                                    <label>Phone</label>
                                                    <input type="tel" placeholder="+234 806624****" [(ngModel)]="this.phone_number">
                                                </div> -->
                        <div class="full-width input-box">
                            <label>Email</label>
                            <input disabled type="email" placeholder="user@tsb.com" [(ngModel)]="this.user.email">
                        </div>
                        <!-- <div class="full-width input-box">
                                                    <label>Company</label>
                                                    <input type="text" placeholder="company name" [(ngModel)]="this.company_name">
                                                </div>
                                                <div class="full-width input-box">
                                                    <label>Company Address</label>
                                                    <input type="text" placeholder="company address" [(ngModel)]="this.company_address">
                                                </div> -->
                        <div class="full-width input-box">
                            <label>Role</label>
                            <div class="check-cont">
                                <!-- <div>
                                                            <input type="checkbox" [(ngModel)]="this.isSelectAll"
                                                                (ngModelChange)="roleCheckAll(this.roles)">
                                                            Check All
                                                        </div> -->

                                <div *ngFor="let item of this.roles">
                                    <input type="checkbox" value="{{item.ulid}}" [(ngModel)]="item.isSelected">
                                    {{item.name}}
                                </div>
                            </div>
                        </div>
                        <!-- <div class="full-width input-box">
                                                    <label>Password</label>
                                                    <div class="password-container">
                                                        <input type="password" style="border: none" #passwordField1 placeholder="********"
                                                            [(ngModel)]="this.password" />
                                                        <i nz-icon nzType="eye-invisible" nzTheme="outline"
                                                            *ngIf="passwordField1.type == 'text'"
                                                            (click)="passwordField1.type = 'password'"></i>
                                                        <i nz-icon nzType="eye" nzTheme="outline" *ngIf="passwordField1.type == 'password'"
                                                            (click)="passwordField1.type = 'text'"></i>
                                                    </div>
                                                </div> -->
                        <!-- <div class="full-width input-box">
                                                    <label>Permissions</label>
                                                    <div class="check-cont">
                                                        <div>
                                                            <input type="checkbox" [(ngModel)]="this.isSelectAll"
                                                                (ngModelChange)="permissionCheckAll(this.permissions)">
                                                            SELECT ALL PERMISSIONS
                                                        </div>
                        
                                                        <div class="permission" *ngFor="let item of this.permissions">
                                                            <input type="checkbox" value="{{item.id}}" [(ngModel)]="item.isSelected">
                                                            {{item.name | uppercase}}
                                                        </div>
                                                    </div>
                                                </div> -->
                    </div>

                    <button (click)="updateUser()" class="btn-primary full-width" style="margin-top:25px"
                        [ladda]="processLoading">
                        Update Staff
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
</nz-modal>