.quantity {
    display: inline-block;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    // opacity: .7;
    font-weight: 500;
    text-align: center;
    width: 68px;
}